<div class="center-page">
  <header>
    <img src="/images/logo.png" class="logo-index">
  </header>

  <div class="welcome">
      <span class="highlight">NPP, c'est quoi ?</span> C'est un back office simple à utiliser et sécurisé. Avec une plateforme épurée et ludique, poster et gérer des articles devient un processus qui prend moins de temps. Plutôt que se soucier de problèmes techniques, les rédacteurs pourront ainsi passer davantage de temps sur le plus important : le contenu.
  </div>

  <div class="boutons">
    <div class="bouton">
      <a href="/signup">Sign up</a>
    </div>

    <div class="bouton">
      <a href="/login">Log in</a>
    </div>
  </div>
</div>