<div class="bouton">
  <a href="/article/new">New article</a>
</div>

<div class="bouton">
  <a href="/profile">Edit profile</a>
</div>

<div class="bouton">
  <a href="/logout">Log out</a>
</div>

<div class="all-articles">
  <ul>
    {{#each Articles}}
    <li>
      <a href="articles/{{this._id}}">{{this.title}}</a> {{! lien vers le detail }}
      - <a href="/articles/edit?article_id={{_id}}" class="edit-button">EDIT</a>
    </li>
    {{/each}}
  </ul>
</div>


