<form action="/article/edit-article/{{article._id}}" method="POST" enctype="multipart/form-data">
  <p>
      <label>
        <div class="field">
          <div class="field-name">Title:</div>
          <div class="field-content">
            <input type="text" name="title">
          </div>
        </div>
      </label>
    </p>

  <p>
      <label>
        <div class="field">
          <div class="field-name">Featured picture:</div>
          <div class="field-content">
      <input type="file" name="picFeatured">
          </div>
        </div>
      </label>
  </p>

  <p>
      <label>
        <div class="field">
          <div class="field-name">Caption:</div>
          <div class="field-content">
            <textarea name="picCaption"></textarea>
          </div>
        </div>
      </label>
  </p>

  <p>
      <label>
        <div class="field">
          <div class="field-name">Author(s):</div>
          <div class="field-content">
            <input type="text" name="author">
          </div>
        </div>
      </label>
  </p>

  <p>
      <label>
        <div class="field">
          <div class="field-name">Article:</div>
          <div class="field-content">
            <textarea name="article"></textarea>
          </div>
        </div>
      </label>
  </p>

  <p>
      <label>
        <div class="field">
          <div class="field-name">Tags:</div>
          <div class="field-content">
            <textarea name="tags"></textarea>
          </div>
        </div>
      </label>
  </p>

  <button type="submit">Save</button>
</form>