<form action="/article/create-article" method="POST" enctype="multipart/form-data">
    <p>
    <label>
      Title :
      <input name="title" />
    </label>
    </p>

    <p>
    <label>
      Featured picture :
      <textarea name="picFeatured"></textarea>
    </label>
    </p>

    <p>
    <label>
      Caption :
      <textarea name="picCaption"></textarea>
    </label>
    </p>

    <p>
    <label>
      Author:
      <textarea name="author"></textarea>
    </label>
    </p>

    <p>
    <label>
      Article:
      <textarea name="article"></textarea>
    </label>
    </p>

    <p>
    <label>
      Tags:
      <textarea name="tags"></textarea>
    </label>
    </p>

    <p>
      <button type='submit'>Save</button>
    </p>
</form>