<form action="/profile/{{media.id}}" method="post" enctype="multipart/form-data">
  <p>
    <label>
      Media name:
      <input type="text" name="name" value="{{media.name}}">
    </label>
  </p>

  <p>
    <label>
      Email:
      <input type="text" name="email" value="{{media.email}}">
    </label>
  </p>

  <p>
    <label>
      Password:
      <input type="password" name="password" value="***">
    </label>
  </p>

  <p>
    <label>
      Profile picture:
      <input type="file" name="profile-pic">
    </label>
  </p>

  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button type="submit">Save</button>
</form>