<div class="center-page">
  <form action="/signup" method="post" enctype="multipart/form-data" class="center-form">
    <p>
      <label>
        <div class="field">
          <div class="field-name">Media name:</div>
          <div class="field-content">
            <input type="text" name="name">
          </div>
        </div>
      </label>
    </p>

    <p>
      <label>
        <div class="field">
          <div class="field-name">Email:</div>
          <div class="field-content">
            <input type="text" name="email">
          </div>
        </div>
      </label>
    </p>

    <p>
      <label>
        <div class="field">
          <div class="field-name">Password:</div>
          <div class="field-content">
            <input type="password" name="password">
          </div>
        </div>
      </label>
    </p>

    <p>
      <label>
        <div class="field">
          <div class="field-name">Profile picture:</div>
          <div class="field-content">
            <input type="file" name="profile-pic">
          </div>
        </div>
      </label>
    </p>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button type="submit">Signup</button>

    <p class="under-submit">
      Do you already have an account?<br>
      Awesome, let's get you <a href="/login">logged in</a>!
    </p>
  </form>
</div>