<form action="/posts" method="POST" enctype="multipart/form-data">
    <p>
    <label>
      Title :
      <textarea name="content"></textarea>
    </label>
    </p>

    <p>
    <label>
      Featured picture :
      <textarea name="featured-pic"></textarea>
    </label>
    </p>

    <p>
    <label>
      Caption :
      <textarea name="featured-caption"></textarea>
    </label>
    </p>

    <p>
    <label>
      Author:
      <textarea name="author"></textarea>
    </label>
    </p>

    <p>
    <label>
      Article:
      <textarea name="article">{{this.article}}</textarea>
    </label>
    </p>

    <p>
    <label>
      Tags:
      <textarea name="tags"></textarea>
    </label>
    </p>

    <p>
        <button>Update</button>
    </p>
</form>